<div class="home-title">
  <h1 class="my-name"> Mariana Hernandez </h1>
</div>
<div class="home-content">
  <div class="left-div">
    <%=link_to 'English', '/en/about_me'%>
    <%=link_to 'Español', '/es/about_me' %>
  </div>
  <div class="right-div">
    <%= image_tag 'mhj.jpg' %>
  </div>
</div>

